<div class="row">
    {{#each courses}}
        <div class="col-4">
            <div class="card" style="width: 18rem;">
                <a href="/news/:{{ this.slug }}">
                    <img class="card-img-top" style="max-height: 150px" src={{ this.image }} alt={{ this.name }}>
                </a>
                <div class="card-body">
                    <a href="/news/{{ this.slug }}">
                        <h5 class="card-title">{{ this.name }}</h5>
                    </a>
                    <p class="card-text">{{ this.description }}.</p>
                    <a href="#" class="btn btn-primary">Click</a>
                </div>
            </div>
        </div>
    {{/each}}
</div>